firebase_admin==6.0.1
Flask==2.2.2
Flask_Bcrypt==1.0.1
Flask_Login==0.6.2
Flask_PyMongo==2.3.0
Flask_WTF==1.0.1
opencv_contrib_python==4.7.0.68
opencv_python==4.8.0.76
WTForms==3.0.1
Werkzeug==2.2.2


